<div class="row row--grid">
						{% for event in events %}
						<div class="col-12 col-md-6 col-xl-4">
							<div class="event" data-bg="{{event.product_image.url}}">
								<a href="#{{event.id}}" class="event__ticket open-modal"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9,10a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V11A1,1,0,0,0,9,10Zm12,1a1,1,0,0,0,1-1V6a1,1,0,0,0-1-1H3A1,1,0,0,0,2,6v4a1,1,0,0,0,1,1,1,1,0,0,1,0,2,1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V14a1,1,0,0,0-1-1,1,1,0,0,1,0-2ZM20,9.18a3,3,0,0,0,0,5.64V17H10a1,1,0,0,0-2,0H4V14.82A3,3,0,0,0,4,9.18V7H8a1,1,0,0,0,2,0H20Z"/></svg> Buy ticket</a>
								<span class="event__date">{{event.date}}</span>
								<span class="event__time">{{event.time}}</span>
								<h3 class="event__title"><a href="{% url 'Event:event-detail' event.id %}">{{event.name}}</a></h3>
								<p class="event__address">{{event.district}},{{event.venue}}</p>
							</div>
						</div>
						{% empty %}
						    {% include 'www/404.html' %}
                        {% endfor %}
					</div>

					<div class="row row--grid">
						<div class="col-12">
							<!-- <button class="main__load" type="button">Load more</button>-->
						</div>
					</div>

{% include 'Event/modal.html' %}