{% extends 'www/base.html' %}
{% load static %}
{%block title%}
{% load widget_tweaks %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{%endblock%}
{%block content%}

	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Add Event</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title main__title--page">
						<h1>Add Event</h1>
					</div>
				</div>
				<!-- end title -->
			</div>

			<div class="row row--grid">
				<div class="col-12 col-lg-7 col-xl-8">
					<form action="{% url 'Event:event_terms'%}" enctype="multipart/form-data" class="sign__form sign__form--contacts" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">Category</label>
									{{form.ticketCategory|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">Event Name</label>
									{{form.name|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">District</label>
									{{form.district|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">Venue</label>
									{{form.venue|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">From Date</label>
									{{form.from_d|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">From Time</label>
									{{form.from_t|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">To Date</label>
									{{form.to_d|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">To Time</label>
									{{form.to_t|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">Regular Price (MKW)</label>
									{{form.regular_price|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">VIP Price (MKW)</label>
									{{form.vip_price|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">Capacity / Number of Tickets</label>
									{{form.number_of_ticket|add_class:"sign__input" }}
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="sign__group">
									<label class="sign__label">Youtube feed (Optional)</label>
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									{{form.simple_discription|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									{{form.media}}
									{{form.description|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									{{form.media}}
									{{form.product_image|add_class:"sign__input"}}
								</div>
							</div>

							<div class="col-12 col-xl-3">
								<button type="submit" class="sign__btn">Send</button>
							</div>
						</div>
					</form>	
				</div>

				<div class="col-12 col-md-6 col-lg-5 col-xl-4">
					
				</div>
			</div>

			<!-- partners -->
			<div class="row">
				<div class="col-12">
					<div class="partners owl-carousel">
						<a href="#" class="partners__img">
							<img src="{% static 'www/img/partners/3docean-light-background.png' %}" alt="">
						</a>
					</div>
				</div>
			</div>
			<!-- end partners -->
		</div>
	</main>
	<!-- end main content -->
 {%endblock%}