{% extends 'www/base.html' %}
{% load embed_video_tags %}
{% load static %}

{%block content%}

	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<!-- slider -->
			
			<!-- end slider -->

			<div class="row row--grid">
				<div class="col-12 col-xl-10">
					<div class="article">
						<!-- article content -->
						<div class="article__content">
							<h1>IKPIXELS MUSIC</h1>
							<p>IKpixels music is a popular music streaming and downloading platform in Malawi. As of now, we focus on Malawi music more especialy upcoming artist.we offers a wide variety of Malawian music, and also includes music,beats and videos.</p>

							<p>Ikpixels allows users to stream and download the best song for free. On Other hand artists are allowed to upload/sell their music. Loyalty of the song remains 100% to the owner of the song.The only way our artist can make money from this site is through selling ther music.</p>

							<p>With IKpixels, Artist track their performance with stats.Manage  profile for branding.Promote their music to grow more audiences.</p>

							

							<p></p>
						</div>
						<!-- end article content -->

						<!-- share -->
						<div class="share">
							<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                            <div class="elfsight-app-1e96d82c-7892-42db-b7f1-dc7bc9f09e9f"></div>
						</div>
						<!-- end share -->
					</div>
				</div>
			</div>

		</div>
	</main>
	{% include 'Event/modal.html' %}
	<!-- end main content -->

{% endblock %}