{% extends 'www/base.html' %}
{% load static %}
{%block title%}
{%endblock%}
{%block content%}
 <!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Privacy policy</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h1>Terms of Use and Privacy policy</h1>
						<p>Please read these Terms of Use, conditions, our Privacy Policy, Cookies Policy and platform Guidelines of ikpixels very carefully. If you do not agree, you should not use the Website, Apps or any of the Services.</p>
						<p>By accessing or using the Platform, registering an account, or by viewing, accessing, streaming, uploading or downloading any information or content from or to the Platform, you represent and warrant that you have read and understood the Terms of Use, Privacy Policy, Cookies Policy and Community Guidelines, will abide by them, and that you are either 18 years of age or more, or you are under 18 years of age and have your parent(s)’ or legal guardian(s)’ permission to use the Platform.</p>
						<ol>
							<li>
								<h4>Disclaimer</h4>
								<ol>
									<li>Ikpixels and Ikpixels users may hosts and may upload media files  on our servers. All uploaded media files on ikpixels are owned by their rightful owners.
										<!--<ol>
											<li></li>
										
										</ol>-->
									</li>
									<li> Ikpixels is given permission by rightful owners to upload and host media files.</li>
									<li>Ikpixels is not responsible/or accepts responsibility for any content hosted on third party websites</li>
								</ol>
							</li>

							<li>
								<h4>Terms of Use</h4>
								<ol>
									<li>IKpixels is not held accountable and is not responsible for any excessive, offensive and inappropriate actions done by the users of this site to other sites.</li>
									<li>Most features of this site are free of use and though some features requires free registration and others are Paid Features. Any personal information collected will not be released to any third parties</li>
									<li>Content owner has the ability to allow their music audio files to be downloaded for free or by freemium users for offline listening. </li>
								     <li>By default, audios files are set to be downloadable.</li>
								</ol>
							</li>
							<li>
								<h4>Copy Rights</h4>
								<ol>
									<li>All audio, text, photos, pictures, graphics, comments, and other content, data or information that you upload or post are controlled solely by you, and not by IKpixels.</li>
									<li>Your Content remains your sole responsibility</li>
									<li>However, by uplaoding your content on IKpixels, you give IKpixels permission/rights to use your content(Audio,image,text,video) to promote or market IKpixels or when promoting/marketting your Artist page/songs physically and on Social media such as Youtube,facebook,google,twitter,Instagram and more. </li>
									<li>Therefor, you agree that whenever your content is used for such reason, our post or video will be not flaged as Copyright infringement material.</li>
								</ol>
							</li>

							<li>
								<h4>Privacy Policy</h4>
								<ol>
									<li>Collection of Information.
										<ol>
											<li>We collect personally identifiable information, like names, email addresses, etc., when voluntarily submitted by our visitors.</li>
											<li>The information you provide is used to fulfill your specific request, unless you give us permission to use it in another manner, for example, to add you to one of our mailing lists, allow you to upload contents, to be sever you and so on</li>
										</ol>
									</li>
									<li>Cookie/Tracking Technology.
										<ol>
											<li>Our site may use cookies and tracking technology which are useful for gathering information such as browser type and operating system, tracking the number of visitors to the site, and understanding how visitors use the Site.  </li>
											<li>Personal information cannot be collected via cookies and other tracking technology, however, if you previously provided personally identifiable information, cookies may be tied to such information.</li>
										</ol>
									</li>
									<li>Distribution of Information.
										<ol>
											<li>We do not share your personally identifiable information to any third party for marketing purposes. </li>
										</ol>
									</li>
									<li>Commitment to Data Security.
										<ol>
											<li>Your personally identifiable information is kept secure. Only authorized staff of this site  have access to this information.</li>
										</ol>
									</li>
									
								</ol>
							</li>

						</ol>
						<p>If you have any questions, concerns, or comments about our privacy policy you may contact us</p>
					</div>
				</div>
				<!-- end title -->
			</div>
		</div>
	</main>
	<!-- end main content -->
{%endblock%}