{% extends 'www/base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block content%}
<!-- error -->
				<div class="col-12">
					<div class="page-404">
						<div class="page-404__wrap">
							<div class="page-404__content">
								<h1 class="page-404__title">404</h1>
								<p class="page-404__text">The page you are looking for not available!</p>
								<a href="/contacts" class="page-404__btn">Contact us</a>
							</div>
						</div>
					</div>
				</div><br>
				<!-- end error -->
{%endblock%}