{% extends 'www/base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block content%}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">

						<li class="breadcrumb__item"><a href="{% url 'music_nation:nyansavibe' %}">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Sign in</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- sign in -->
				<div class="col-12">
					<div class="sign">
						<div class="sign__content">
							<!-- authorization form -->
							<form action="{% url 'account:login'%}" method="post" class="sign__form">
								{% csrf_token %}
								<a href="{% url 'music_nation:nyansavibe' %}" class="sign__logo">
									<img src="{% static 'www/img/logo.png' %}" alt="">
								</a>

								<div class="sign__group">
									<input type="text" class="sign__input" placeholder="Username" name="name">
								</div>

								<div class="sign__group">
									<input type="password" name="pass" class="sign__input" placeholder="Password">
								</div>

								
								<p style="color:red;">{{error}}</p>
								<button class="sign__btn" type="submit">Sign in</button>

								<span class="sign__text">Don't have an account? <a href="{% url 'account:signup' %}">Sign up!</a></span>

								<span class="sign__text"><a href="#">Forgot password?</a></span>
							</form>
							<!-- end authorization form -->
						</div>
					</div>
				</div>
				<!-- end sign in -->
			</div>
		</div>
	</main>
	<!-- end main content -->
{%endblock%}