{% extends 'www/base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block content%}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">


						<li class="breadcrumb__item"><a href="{% url 'music_nation:nyansavibe' %}">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Sign up</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- registration form -->
				<div class="col-12">
					<div class="sign">
						<div class="sign__content">
							<form action="#" method="post" class="sign__form">
								{%csrf_token%}
								<a href="{% url 'music_nation:nyansavibe' %}" class="sign__logo">
									<img src="{% static 'www/img/logo.png' %}" alt="">
								</a>


								<div class="sign__group">
									<label class="p-1" style="color:white;">Account Type</label>
									{{customerForm.account_type|add_class:"sign__input" }}
								</div>

								<div class="sign__group">
									<label class="p-1" style="color:white;">First Name</label>
									{{form.first_name|add_class:"sign__input" }}
								</div>

								<div class="sign__group">
									<label class="p-1" style="color:white;">Last Name</label>
									{{form.last_name|add_class:"sign__input" }}
								</div>

								<div class="sign__group">
									<label class="p-1" style="color:white;">Email</label>
									{{form.email|add_class:"sign__input" }}
								</div>

								<div class="sign__group">
									<label class="p-1" style="color:white;">Whatsapp number</label>
									{{customerForm.mobile|add_class:"sign__input" }}
								</div>

								<div class="sign__group">
									<label class="p-1" style="color:white;">Adress</label>
									{{customerForm.addres|add_class:"sign__input" }}
								</div>

					
								<div class="sign__group">
									{{form.username|add_class:"sign__input" }}
								</div>

								<div class="sign__group">
									<label class="p-1" style="color:white;">Password 1</label>
									{{form.password1|add_class:"sign__input" }}
								</div>


								<div class="sign__group">
									<label class="p-1" style="color:white;">Password 2</label>
									{{form.password2|add_class:"sign__input" }}
								</div>

								<div class="sign__group sign__group--checkbox">
									<input id="remember" name="remember" type="checkbox" checked="checked">

									<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>

								</div>

                                <p style="color:red;">{{message}}</p>
								
								<button class="sign__btn" type="submit">Sign up</button>

								<span class="sign__delimiter">or</span>

								<div class="sign__social">
									
								</div>

								<span class="sign__text">Already have an account? <a href="{%url 'account:login' %}">Sign in!</a></span>
							</form>
						</div>
					</div>
				</div>
				<!-- end registration form -->
			</div>
		</div>
	</main>
	<!-- end main content -->

{%endblock%}
