{% extends 'www/base.html' %}
{% load static %}
{%block title%}
{%endblock%}
{%block content%}
   

	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="{% url 'music_nation:nyansavibe' %}">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">About</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h1>IKPIXELS</h1>


						<p>IKpixels is a reputed and well known platform offering Music Distribution, Events Marketing and other digital marketing solutions in Malawi.</p>

						<p>Our goal at IKpixels, is to work with upcoming artist to meet their goal and push through.</p>

					</div>
				</div>
				<!-- end title -->

				<div class="col-12 col-lg-12">
					<div class="main__title">
					<h3>OUR MAIN AREAS OF FOCUS</h3>
				    </div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="step">
						<span class="step__number">01</span>
						<h3 class="step__title">IKPIXELS-MUSIC</h3>
						<p class="step__text">Ikpixels allows users to stream and download the best song. On Other hand artists are allowed to upload/sell their music. Loyalty of the song remains 100% to the owner of the song.The only way our artist can make money from this site is through selling ther music and events e.g music shows.</p>
						<a href="{% url 'ikpixels:music' %}" class="main__load">Learn More</a>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="step">
						<span class="step__number">02</span>
						<h3 class="step__title">IKPIXELS-TICKETS</h3>
						<p class="step__text">IKpixels allows you to sell and purchase tickets online. Create, promote, Manage and get paid. Just create artist account,add your event and get feel for possibilities, we ready to help.Ikpixels takes 10% of your revenue at the end of your events.we also verify and sell tickets electronically at the door.</p>
						<a href="{% url 'ikpixels:ticket' %}" class="main__load">Learn more</a>
					</div>
				</div>

				<div class="col-12">
					<!-- share -->
						<div class="share">
									<!-- AddToAny BEGIN -->
                           <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_whatsapp"></a>
                                <a class="a2a_button_linkedin"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_email"></a>
                                <a class="a2a_button_google_gmail"></a>
                                <a class="a2a_button_pinterest"></a>
                                <a class="a2a_button_telegram"></a>
                            </div>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
						</div>
						<!-- end share -->
				</div>
			</div>
	</main>
	<!-- end main content -->

 {%endblock%}