<div class="row row--grid">
						{% for p in podcasts %}
						<div class="col-12 col-sm-6 col-lg-4">
							<div class="live">
								<a onclick="add_video_view('{{p.id}}')" href="{{p.youtubelink}}" class="live__cover open-video">
									<iframe class="rounded" width="420" height="315" src="{{p.split_link}}" frameborder="0" allowfullscreen></iframe>
									<span class="live__value">{{p.views}} viewers</span>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"></path></svg>
								</a>
								
							</div>
						</div>
						{% empty %}
						{% include 'www/404.html' %}
						{% endfor %}
					</div>

					<div class="row row--grid">
						<div class="col-12">
							<!-- <button class="main__load" type="button">Load more</button>-->
						</div>
					</div>